/* Default Color File  */

/* Color */
a:hover,
a {
  color: #09b750;
}

.scroll-to-top:hover,
.preloader-close,
.search-popup .search-form fieldset input[type="submit"] {
  background-color: #09b750;
}

.btn-style-one {
  background-color: #09b750;
}

.header-top .left-column .text {
  background-color: #09b750;
}

.main-menu .navigation > li:before {
  background-color: #09b750;
}

.main-menu .navigation > li.current > a {
  color: #09b750;
}

.main-menu .navigation > li > ul > li > a:hover {
  background-color: #09b750;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  background-color: #09b750;
}

.mobile-menu .menu-backdrop {
  background-color: #09b750;
}

.hidden-sidebar .news-widget .category {
  color: #09b750;
}

.sec-title h2:before {
  background-color: #09b750;
}

.about-section .year-experience {
  color: #09b750;
}

.service-block-one .inner-box {
  border-bottom: 3px solid #09b750;
}

.service-block-one a {
  color: #09b750;
}

.features-section {
  background-color: #09b750;
}

.why-choose-us .icon-box .icon {
  color: #09b750;
}

.video-section h5:before {
  background-color: #09b750;
}

.video-section .video-box .video-btn a {
  color: #09b750;
}

.video-section .video-box .video-btn a:hover {
  background-color: #09b750;
}

.team-block-one h4:before {
  background-color: #09b750;
}

.team-block-one .social-links li a:hover {
  color: #09b750;
}

.testimonial-section .quote {
  color: #09b750;
}

.testimonial-section .owl-dots .owl-dot:hover,
.testimonial-section .owl-dots .owl-dot.active {
  background-color: #09b750;
  border-color: #09b750;
}

.estimate-section .wrapper-box:before {
  background-color: #09b750;
}

.estimate-form .form-group .theme-btn:hover {
  color: #09b750;
}

.facts-section h2 span {
  color: #09b750;
}

.facts-section .facts-block .icon {
  color: #09b750;
}

.blog-section .top-content .theme-btn {
  color: #09b750;
}

.news-block-one .meta-info a:before {
  background-color: #09b750;
}

.news-block-one .link-btn a {
  background-color: #09b750;
}

.cta-section .wrapper-box {
  background-color: #09b750;
}

.main-footer .footer-info-box .icon {
  color: #09b750;
}

 .widget_newsletter form button {
  background-color: red;
 }

.widget_newsletter .social-links li a:hover {
  background-color: #09b750;
  border-color: #09b750;
}

.main-header.header-style-two .header-upper.style-two .logo-box .logo {
  background-color: #09b750;
}

.service-block-two h4:after {
  background-color: #09b750;
}

.why-choose-us.style-two {
  background-color: #09b750;
}

.cta-section.style-two {
  background-color: #09b750;
}

.cta-section.style-two .theme-btn {
  background: #09b750;
}

.testimonial-section.style-two .testimonial-block .designation {
  color: #09b750;
}
/* Team Style Two */
.team-section.style-two {
  background-color: #f5f5f5;
}

.estimate-section.style-two {
  background-color: #09b750;
}

.testimonial-section.style-two .owl-dots .owl-dot {
  border-color: #09b750;
}

.main-header.header-style-three .header-upper.style-three .logo-box:before {
  background-color: #09b750;
}

.welcome-block .left-column {
  background-color: #09b750;
}

.features-section-two {
  background-color: #09b750;
}

.cta-section.style-three {
  background-color: #09b750;
}

.project-block-one h4 {
  background-color: #09b750;
}

.why-choose-us-two {
  background-color: #09b750;
}

.history-block .years {
  background: #09b750;
}

.sidebar-title h2:after {
  background-color: #09b750;
}

.blog-cat li.active a,
.blog-cat li a:hover {
  background-color: #09b750;
}

.contact-info-widget .inner-box ul li .icon {
  color: #09b750;
}

.featured-block .featured-inner .content .icon-box {
  background: #09b750;
}

.featured-block .featured-inner .content h3 a:hover {
  color: #09b750;
}

.accordion-box .block .acc-btn.active .icon-outer .icon-minus {
  background-color: #09b750;
}

.filter-tabs li.active {
  color: #09b750;
  border-color: #09b750;
}

.filter-tabs.style-two li.active:before {
  background-color: #09b750;
}

.testimonial-section.style-three .testimonial-block.style-two .designation {
  color: #09b750;
}

.error-section h1 {
  color: #09b750;
}

.error-section .theme-btn:hover {
  color: #09b750;
}

.comming-soon .content .content-inner .text span {
  color: #09b750;
}

.news-block-two .date {
  color: #09b750;
}

.news-block-two h3 a:hover {
  color: #09b750;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"] {
  background: #09b750;
}

.sidebar-title h2:after {
  background-color: #09b750;
}

.cat-list li a:hover {
  color: #09b750;
}

.sidebar .popular-posts .post a:hover {
  color: #09b750;
}

.sidebar .popular-posts .post-info {
  color: #09b750;
}

.sidebar .popular-tags a:hover {
  border-color: #09b750;
  background-color: #09b750;
}

.sidebar-page-container .comments-area .comment-box .post-info li a {
  color: #09b750;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group textarea:focus {
  border-color: #09b750;
}

.contact-section .contact-title h2:after {
  background-color: #09b750;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border-color: #09b750;
}

.contact-section .info-column ul li i {
  color: #09b750;
}

.service-block-two h4 a:hover {
  color: #09b750;
}
